@import "../../../public/scss/variables.scss";
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

.subpage_particulars {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 0;
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        background: $header_background;
        padding: 0 10px;
        height: $header_left_height;
        line-height: $header_left_height;
        text-align: center;
        font-size: $header_fontsize;
        color: #FFF;
        .left {
            font-family: 'iconfont';
            float: left;
        }
    }
    .mian {
        position: absolute;
        top: $header_left_height;
        left: 0;
        right: 0;
        bottom: $header_left_height;
        padding-bottom: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        background: #F1F6FC;
        .navbar {
            overflow: hidden;
            background: #FFF;
            border-bottom: 1px solid #EEE;
            .nav_left {
                float: left;
                width: 35%;
                .nav_img {
                    position: relative;
                    width: 100%;
                    height: 76px;
                    margin-top: 26px;
                    text-align: center;
                    border-radius: 76px;
                    img {
                        width: 76px;
                        height: 76px;
                        @include border-radius(76px);
                    }
                    .praise {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin: -9px 0 0 -38px;
                        width: 76px;
                        height: 18px;
                        line-height: 18px;
                        background: url("../images/zan.png");
                        background-size: cover;
                        -moz-background-size: cover;
                        text-align: center;
                        font-size: .12rem;
                        color: #FFF;
                    }
                }
            }
            .nav_right {
                float: left;
                width: 65%;
                font-size: 0;
                .nav_form {
                    font-size: .12rem;
                    height: 44px;
                    line-height: 44px;
                    border-bottom: 1px solid #EEE;
                    overflow: hidden;
                    .title {
                        display: inline-block;
                        /*width: 48px;*/
                        b {
                            color: red;
                        }
                    }
                    .nav_text {
                        font-size: .12rem;
                    }
                    .int {
                        padding: 5px;
                        font-size: .14rem;
                        width: 145px;
                    }
                    .proving {
                        width: 100px;
                    }
                    button {
                        background: #E4EBED;
                        color: #ADCAEA;
                        border: none;
                        padding: 5px;
                        @include border-radius( 5px);
                    }
                }
                .none {
                    display: none;
                    border: none;
                }
            }
        }
        .limits {
            position: relative;
            margin-top: 10px;
            padding: 8px 12px;
            overflow: hidden;
            background: #FFF;
            font-size: .14rem;
            .no_click{
                position: absolute;
                height: 30px;
                width: 100%;
                top:0px;
                left: 0px;
            }
            .lim_title {
                overflow: hidden;
                .lim_left {
                    float: left;
                    color: #A0A0A0;
                    b {
                        color: red;
                    }
                }
                .lim_right {
                    float: right;
                    font-family: 'iconfont';
                }
            }
            .lim_nav {
                padding: 0 5px 10px 5px;
                overflow: hidden;
                .list {
                    float: left;
                    margin-left: 5px;
                    margin-top: 16px;
                    width: 64px;
                    height: 34px;
                    line-height: 34px;
                    @include border-radius(5px);
                    @include box-sizing(border-box);
                    border: 1px solid #3475B0;
                    text-align: center;
                    font-size: .12rem;
                    color: #3475B0;
                }
            }
            .open_left {
                float: left;
            }
            .open {
                float: right;
                width: 40px;
                height: 20px;
                @include border-radius( 20px);
                background: #D9D9D9;
                .open_btn {
                    width: 19px;
                    height: 19px;
                    @include border-radius( 19px);
                    background: #EEE;
                    border: 1px solid #D9D9D9;
                }
            }
            .open_up {
                background: #F17E21;
                overflow: hidden;
                .open_btn {
                    float: right;
                }
            }
        }
        .content_show {
            .upload_img {
                margin-top: 10px;
                padding-top: 8px;
                background: #FFF;
                .title {
                    font-size: .14rem;
                    padding: 0 12px;
                    color: #A0A0A0;
                    span {
                        font-size: .12rem;
                    }
                }
                .upload {
                    padding: 15px 12px;
                    overflow: hidden;
                    .content {
                        float: left;
                        .content_img {
                            position: relative;
                            float: left;
                            margin: 5px 0 0 14px;
                            img {
                                width: 54px;
                                height: 54px;
                            }
                            .delete {
                                position: absolute;
                                right: -10px;
                                top: -10px;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                background: red;
                                color: #FFF;
                                font-size: .12rem;
                                @include border-radius(20px);
                                text-align: center;
                            }
                        }
                    }
                    .append {
                        float: left;
                        margin: 5px 0 0 14px;
                        width: 54px;
                        height: 54px;
                        text-align: center;
                        @include box-sizing(border-box);
                        border: 4px solid #EEE;
                        font-size: .3rem;
                        span {
                            margin-top: 6px;
                            display: inline-block;
                            font-family: 'iconfont';
                            color: #EEE;
                        }
                    }
                }
            }
        }
        .news {
            margin-top: 10px;
            padding: 8px 15px;
            background: #FFF;
            .title {
                font-size: .14rem;
                color: #A0A0A0;
            }
            .title_text {
                font-size: .14rem;
                padding: 5px 10px;
            }
            .text_content {
                // display: none;
                font-size: .14rem;
                padding: 5px 10px;
                margin-top: 10px;
                border: 1px solid #EEE;
                @include border-radius( 5px);
                color: #A0A0A0;
                textarea {
                    width: 100%;
                    resize: none;
                    text-align: left;
                }
                 ::-webkit-textarea-placeholder {
                    color: #A0A0A0;
                }
                p {
                    text-align: right;
                }
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 48px;
        font-size: 0;
        background: #fff;
        padding: 0 12px;
        .nav {
            width: 230px;
            padding-top: 7px;
            text-align: justify;
            margin: 0 auto;
            .btn {
                width: 68px;
                height: 34px;
                display: inline-block;
                text-align: center;
                @include box-sizing(border-box);
                border: 1px solid #3475B0;
                color: #3475B0;
                font-size: .12rem;
                background: #FFF;
                @include border-radius(5px);
            }
        }
        .nav:after {
            content: '';
            display: inline-block;
            position: relative;
            top: 0;
            left: 0;
            width: 230px;
        }
        .add_news {
            margin-top: 8px;
            height: 32px;
            line-height: 32px;
            border: 1px solid #1D75CC;
            @include border-radius(5px);
            font-size: .14rem;
            color: #1D75CC;
            text-align: center;
        }
    }
    .cap_leave {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        .block {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #000;
            opacity: .6;
        }
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 140px;
            margin: -70px 0 0 -40%;
            background: #FFF;
            @include border-radius(10px);
            .title {
                width: 90%;
                margin: 0 auto;
                font-size: .14rem;
                text-align: center;
                height: 100px;
                line-height: 100px;
                border-bottom: 1px solid #EEE;
            }
            .cap_active {
                overflow: hidden;
                height: 40px;
                padding: 0 20px;
                .btn {
                    margin-top: 8px;
                    font-size: .14rem;
                    color: #3475B0;
                    background: #FFF;
                    border: none;
                }
                .btn_left {
                    float: left;
                }
                .btn_right {
                    float: right;
                }
            }
        }
    }
}