<div class="adress-box">
    <header class="address_index_hed">
        <span class="span_left" v-on:click="onBack">&#xe621;</span>
        <p>地址管理</p>
        <!--<span class="span_right">&#xe620;</span>-->
    </header>
    <section class="address_index_sec" style="height:clac(100% - 50px);overflow-y: scroll;">
        <div class="Return">
            <span v-on:click="onGoeditor('return')">退货地址
                 <em>&#xe623;</em>
            </span>
            <ul class="Return_ul" >
                <li goodsid="{{re.goodid}}" v-on:click="onGodetails_re('return',$index)"  v-for=" re in itmes.arryr">
                    <h5><em>{{re.contactName}}</em><i>{{re.contactTel}}</i></h5>
                    <p ><s>{{re.provName}}</s><s>{{re.cityName}}</s><s>{{re.countyName}}</s><s>{{re.shopAddrDetail}}</s></p>
                    <p>{{re.shopAddrRemark}}</p>
                </li>
            </ul>
        </div>
             
         <div class="delivery">
              <span v-on:click="onGoeditor('delivery')">发货地址
                 <em>&#xe623;</em>
            </span>
            <ul class="delivery_ul" >
                <li goodsid="{{de.goodid}}" v-on:click="onGodetails_de('delivery',$index)" v-for="de in itmes.arryd"  >
                   <h5><em>{{de.contactName}}</em><i>{{de.contactTel}}</i></h5>
                    <p ><s>{{de.provName}}</s><s>{{de.cityName}}</s><s>{{de.countyName}}</s><s>{{de.shopAddrDetail}}</s></p>
                    <p>{{de.shopAddrRemark}}</p>
                </li>
            </ul>
         </div>
    </section>
</div>