<section class="addBank_main">
    <header>
        <div class="left" v-on:click="goBack"><span>&#xe621;</span></div>
        <span>添加银行卡</span>
    </header>
    <section class="content">
        <div class="list">
            <div class="user_name">
                <div class="oper">法人姓名:<input class="int" type="text" placeholder="请输入"></div>
                <span class="icn">&#xe62c;</span>
            </div>
            <div class="user_phone">
                <div class="oper">法人手机:<input class="int" type="text" placeholder="请输入"></div>
                <div class="btn">获取验证码(60)</div>
            </div>
            <div class="phone_code">
                <div class="oper">短信验证:<input class="int" type="text" placeholder="请输入"></div>
            </div>
            <div class="look_out">
                *持卡人需为法人本人
            </div>
            <div class="open_bank">
                <div class="oper">开&nbsp;&nbsp;户&nbsp;&nbsp;行:<span class="bank_text">中国工商银行</span></div>
                <span class="icn">&#xe623;</span>
            </div>
            <div class="card">
                <div class="oper">输入卡号:<input class="int" type="text" placeholder="请输入卡号"></div>
            </div>
            <div class="select_bank">
                <div class="oper">选择支行</div><div class="select_text"><span>成都市高新区支行</span><span class="icn">&#xe623;</span></div>
            </div>
        </div>
        <div class="add_btn">
           
        </div>
    </section>
</section>