<section class="bankMessage_main">
    <header>
        <div class="left" v-on:click="goBack"><span>&#xe621;</span></div>
        <span>银行卡</span>
        <div class="right"><span>编辑</span></div>
    </header>
    <section class="content">
        <div class="con_list">
            <div class="arrange">
                <div class="title">中国工商银行</div>
                <div class="number"><span>****</span><span>****</span><span>****</span><span>4521</span></div>
                <div class="white"></div>
            </div>
        </div>
    </section>
    <footer>
        <div><span>&#xe625;</span>添加银行卡</div>
    </footer>
</section>