<div class="forget-password-box">
	<header class="header">
		<span v-on:click="onBack">&#xe621;</span>
		<p>{{states.title}}</p>
	</header>
	<section class="content">
		<div class="bg-camera"></div>
		<div class="form-group">
			<div class="form-item">
				<i>&#xe631;</i>
				<div class="button">获取验证码</div>
				<div class="input-box">
					<input xtype="phone" type="text" placeholder="请输入手机号"  v-model="states.phone" id="isphone"/>
				</div>
			</div>
			<div class="form-item">
				<i>&#xe630;</i>
				<div class="input-box">
					<input type="text" placeholder="请输入验证码" v-model="states.code" />
				</div>
			</div>
			<div class="form-item">
				<i>&#xe632;</i>
				<div class="input-box">
					<input type="password" placeholder="请设置密码" v-model="states.pas" />
				</div>
			</div>
			<div class="form-item">
				<i>&#xe632;</i>
				<div class="input-box">
					<input type="password" placeholder="请重复设置密码" v-model="states.repas"/>
				</div>
			</div>
		</div>
		<a class="active-btn" v-show="states.forget" v-on:click="Ondetermine">确定</a>
		<a class="active-btn" v-show="states.change" v-on:click="Onsave">保存</a>
		<a class="active-btn" v-show="states.tixian" >确定</a>
	</section>
</div>