@import"../../../public/scss/variables.scss";
.password-manage {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    i,
    em,
    ins {
        font-style: normal;
        text-decoration: none;
    }
    .password_deader {
        height: $header_height;
        background-color: $header_background;
        color: $header_color;
        font-size: $header_fontsize;
        overflow: hidden;
        span {
            position: absolute;
            display: inline-block;
            width: $header_left_width;
            height: $header_left_height;
            font-family: "iconfont";
            text-align: center;
            line-height: $header_left_height;
        }
        .password_left {
            left: 0px;
        }
        .password_right {
            top: 0px;
            right: 0px;
        }
        .password_title {
            text-align: center;
            line-height: $header_height;
            font-size: $header_center_fontsize;
        }
    }
    .password_sec {
        background-color: #fff;
        font-size: 0px;
        div{
            margin-top: 12px;
            height: 44px;
            border-bottom: 1px #eee solid;
            border-top: 1px #eee solid;
            font-size: .14rem;
            line-height: 44px;
            padding: 0 12px;
            overflow: hidden;
            i{
                font-family: "iconfont";
                font-size: .18rem;
                float: right;
                clear: both;
            }
        }
    }
}