

$input_br: #1347A7;//inpout框的边框色

$input_bg:#74AFF2;//input框的背景色

$bg_gray:#EEE; 

$bg_white:#FFF;

$bg_grays:#f2f5f9; //评价背景色

$header_background:#2075cf;//头部的颜色

// font-color 字体颜色
.color_pink{
    color:#FF8A8A;
}
.color_yellow{
    color:#FFC56A;
}
.color_green{
    color:#57D5A4;
}
.color_blue{
    color:#5097C9;
}
.color_mazarine{
    color:#5058C9;
}
.color_purple{
    color:#B150C9;
}
.color_gray{
    color:#999;
}

$header_color: #fff;//头部的字体颜色
$header_left_width: 48px;//头部左边的宽度	
$header_left_height: 48px;//头部左边的高度
$header_right_width: 48px;//头部右边的宽度	
$header_right_height: 48px;//头部右边的高度
$header_center_fontsize:.18rem;//头部中间大标题的自己大小
$header_height:48px;//头部的高度
$header_fontsize:.16rem;//头部的字体大小
