<section class="preview_main">
    <header class="header">
        <div class="ret_left" v-on:click="goBack"><span>&#xe621;</span></div>
        <span class="ret_title">预览宝贝</span>
    </header>
    <section class="content">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="http://pic.58pic.com/58pic/16/52/80/66S58PICmVJ_1024.jpg"></div>
                <div class="swiper-slide"><img src="http://pic.58pic.com/58pic/16/52/80/66S58PICmVJ_1024.jpg"></div>
                <div class="swiper-slide"><img src="http://pic.58pic.com/58pic/16/52/80/66S58PICmVJ_1024.jpg"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="title">浪漫缕空蕾丝花纹白色卫衣</div>
        </div>
        <div></div>
        <div class="promo_meta">
            <div class="L">
                <div class="price">￥<span>189.2</span></div>
                <p>实体价：
                    <s>￥320</s><span>已售0件</span></p>
            </div>
            <div class="R">
                <div class="icn_up"><span>&#xe61a;</span><span class="border_R">&#xe61f;</span></div>
                <div class="btn">3D试穿&#xe623;</div>
            </div>
        </div>
        <div class="service">
            <span class="icn">&#xe626;</span><span class="write_text">自提</span>
            <span class="icn">&#xe626;</span><span class="write_text">上门服务</span>
            <span class="icn">&#xe626;</span><span class="write_text">快递</span>
            <span class="write_text">运费:￥10(满200免运费)</span>
        </div>
        <div class="choose_list">
            请选择尺寸<span>&#xe623;</span>
        </div>
        <div class="choose_list">
            暂无评论<span>&#xe623;</span>
        </div>
        <div class="details">
            <div class="del_title">
                宝贝详情
            </div>
            <div class="del_list">
                <p>品牌名称:韩都衣舍</p>
                <p>厚薄:薄款</p>
                <p>货号:AJDOASFAFAFSF</p>
                <p>适用季节:夏季</p>
                <p>材质:聚酯纤维97%</p>
                <p>适用对象:女</p>
            </div>
        </div>
        <div class="del_referral">
            <div class="rel">尺寸测试 SIZE[手工测量平铺尺寸可能与实际的尺寸之间存在1-2cm的误差，还请买家亲们理解并事先知晓，谢谢！单位/CM]</div>
            <div class="table_list mar_ten">
                <table border="1" rules="rows">
                    <tr>
                        <td align="center" valign="middle">尺寸</td>
                        <td align="center" valign="middle">肩宽</td>
                        <td align="center" valign="middle">袖长</td>
                        <td align="center" valign="middle">胸围</td>
                        <td align="center" valign="middle">衣长</td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">134</td>
                        <td align="center" valign="middle">232</td>
                        <td align="center" valign="middle">334</td>
                        <td align="center" valign="middle">324</td>
                        <td align="center" valign="middle">534</td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">134</td>
                        <td align="center" valign="middle">232</td>
                        <td align="center" valign="middle">334</td>
                        <td align="center" valign="middle">324</td>
                        <td align="center" valign="middle">534</td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">134</td>
                        <td align="center" valign="middle">232</td>
                        <td align="center" valign="middle">334</td>
                        <td align="center" valign="middle">324</td>
                        <td align="center" valign="middle">534</td>
                    </tr>
                </table>
            </div>
            <div class="rel">尺寸测试 SIZE[手工测量平铺尺寸可能与实际的尺寸之间存在1-2cm的误差，还请买家亲们理解并事先知晓，谢谢！单位/CM]</div>
            <div class="picture">
                <div class="pic_text">
                    <img src="http://pic.58pic.com/58pic/16/52/80/66S58PICmVJ_1024.jpg">
                    <span>dasasfsgf饭店睡过的股份豆腐干地方古典风格大飞哥大飞哥大飞哥地方果冻粉果冻粉个</span>
                </div>
                <div class="pic_text">
                    <img src="http://pic.58pic.com/58pic/16/52/80/66S58PICmVJ_1024.jpg">
                    <span>dasasfsgf饭店睡过的股份豆腐干地方古典风格大飞哥大飞哥大飞哥地方果冻粉果冻粉个</span>
                </div>
                <div class="pic_text">
                    <img src="http://pic.58pic.com/58pic/16/52/80/66S58PICmVJ_1024.jpg">
                    <span>dasasfsgf饭店睡过的股份豆腐干地方古典风格大飞哥大飞哥大飞哥地方果冻粉果冻粉个</span>
                </div>
            </div>
        </div>
    </section>
</section>