@import "../../../../public/scss/variables.scss";
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-sizing($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin opacity($index) {
    -webkit-opacity: $index;
    -moz-opacity: $index;
    opacity: $index;
}

.babyRecomposeDetails_main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 0;
    background: #EEE;
    .header {
        background: $header_background;
        padding: 0 10px;
        height: $header_left_height;
        line-height: $header_left_height;
        overflow: hidden;
        .nav {
            float: left;
            font-family: 'iconfont';
            font-size: $header_fontsize;
            color: $header_color;
            text-align: center;
        }
        .nav_title {
            font-size: $header_fontsize;
            color: $header_color;
            text-align: center;
            margin: 0 auto;
        }
    }
    .content {
        position: absolute;
        top: 58px;
        left: 0;
        right: 0;
        bottom: 48px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 12px;
        .btn_img {
            display: block;
            margin-top: 10px;
            border: 1px solid #838383;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: .14rem;
            background: #FFF;
            color: #7B7B7B;
            @include border-radius(5px);
            span {
                font-family: 'iconfont';
            }
        }
        
        .container {
            .column {
                padding: 10px 0;
                p {
                    font-size: .14rem;
                }
                img {
                    width: 100%;
                }
            }

            .inp {
                margin-top: 10px;
                textarea {
                    width: 100%;
                    height: 60px;
                    border: 1px solid #838383;
                    @include border-radius(5px);
                    color: #838383;
                    font-size: .14rem;
                    resize: none;
                }
                 ::-webkit-textarea-placeholder {
                    color: #838383;
                }
            }
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        .nav_1 {
            float: left;
            width: 50%;
            height: 48px;
            line-height: 48px;
            text-align: center;
            background: #2075cf;
            font-size: .14rem;
            color: #FFF;
        }
        .nav_2 {
            float: left;
            width: 50%;
            height: 48px;
            line-height: 48px;
            text-align: center;
            background: #f17f22;
            font-size: .14rem;
            color: #FFF;
        }
    }
}